<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/style.css">
   <title>Document</title>
</head>
<body>
   <div class="logo">
      <img src="https://img.freepik.com/vector-gratis/lindo-bento-lonchera-japonesa-comida-divertidos-dibujos-animados-ilustracion-colorida-isometrica_198278-434.jpg?size=338&ext=jpg" alt="logo">
   </div>
   <nav class="main-nav">
      <a href="/">HOME</a>
      <a href="/products">PRODUCTOS</a>
      <a href="/about">NOSOTROS</a>
    </nav>
    <section class="forms__container">
       <form action="/products/store" method="POST" enctype="multipart/form-data">
         <div style="width: 500px;">
            <% if (typeof errors != "undefined") { %>
             <% errors.forEach(error => { %>
              <p><%= error.msg %></p>
             <% }) %>
            <% } %>
         </div>
         <label for=""> Nombre:</label> 
         <input type="text" placeholder="Gonza" name="name" value="<%= typeof old != "undefined" ? old.name : "" %>">
         
         <label for="">Precio:</label>
         <input type="number" placeholder="10" name="price" value="<%= typeof old != "undefined" ? old.price : "" %>">
         
         <label for="">Descripcion:</label> 
         <textarea name="description" id="" placeholder="Pone una descripcion acá" cols="30" rows="5"><%= typeof old != "undefined" ? old.description : "" %></textarea>
         
         <label for="">Imagen:</label>   
         <input type="file" name="image" id="" multiple>
         
         <button type="submit">ENVIAR</button>
      </form>
</section>
</body>
</html>